{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/pontos_turisticos.css' %}">
{% endblock %}


<div class="container" style="display: flex; justify-content: center;">
    <div class="row" >
        {% for p_turistico in p_turisticos %}
            <div class="col-sm" style="margin-bottom: 20px;">
                <div class="card_imovel">
                    <a class="a_none" href="{% url 'ponto_turistico' p_turistico.id %}">
                        <img class="img_capa_imovel"  src="{{ p_turistico.img_capa.url }}">
                    </a>
                    <div class="informacoes_imoveis">
                        <h5 id="texto-limite" class="valor" style="display: flex; justify-content: center;">{{p_turistico.nome}}</h5>
                        <div class="box">
                            {% if request.user.is_authenticated %}
                                {% if request.user.groups.all.0.name == 'admin' or request.user.groups.all.0.name == 'Dono' %}
                                    <a href="{% url 'editar_ponto' p_turistico.id %}" style="font-size:18px; width: 40%; margin: 6px; border-radius: 10px;" class="btn btn-primary">Editar</a>
                                    <a href="{% url 'deletar_ponto' p_turistico.id %}" style="font-size:18px; width: 40%; margin: 6px; border-radius: 10px;" class="btn btn-danger">Deletar</a>
                                {% else %}
                                    <a href="{% url 'ponto_turistico' p_turistico.id %}" style="padding: 8px; width: 100%; border-radius:10px; font-size: 22px; display: flex; justify-content: center;" 
                                    class="btn btn-primary">Ver ponto turistico</a>
                                {% endif %}
                                {% else %}
                                <a href="{% url 'ponto_turistico' p_turistico.id %}" style="padding: 8px; width: 100%; border-radius:10px; font-size: 22px; display: flex; justify-content: center;" 
                                class="btn btn-primary">Ver ponto turistico</a>
                            {% endif %}
                        
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
