{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block body %}

<div class="container">
    <h1 style="margin-top: 50px;">Cadastrar ponto turístico</h1>
    <div style="align-items: center; display:flex; justify-content: center;">
        {{ message }}
        <br>
        {% if messages %}
            {% for message in messages %}
                <div class=" col-md-6 alert {{message.tags}} alert-dismissible fade show" style="display:flex; justify-content: center;">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <form method="POST" enctype="multipart/form-data">
        <div class="col-sm">
            {% csrf_token %}

            {{ form | bootstrap }}
            <button class="btn btn-success col-md-4" type="submit">Cadastrar ponto turistico</button>
        </div>
    </form>
</div>

{% endblock body %}
